service cloud.firestore {
  function printRequest() {
    return debug(request.resource) || true
  }

  function printResource() {
    return debug(resource) || true
  }

  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if printResource();
      allow write: if printRequest() && debug(request.auth.uid) != null;
    }
    match /rooms/{roomId} {
      allow read;
      // Only the owner can modify the room
      allow write: if request.resource.data.owner == request.auth.uid &&
                   (resource == null || resource.data.owner == request.auth.uid);
    }
  }
}
